/* Work Sens Font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;700;800&display=swap');

/* common shared style */
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary_button{
    border-radius: 5px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.text_gray{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}
.section_title{
    color:#131313;
    font-size: 3rem;
    font-weight: 700;
}
/* header section style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 25px 135px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 40px;
}
nav li {
    list-style: none;
}
nav a{
    text-decoration: none;
    color:#424242;
    font-size: 1.3rem;
    font-weight: 500;
}

/* banner section style */
.banner_title{
    text-align: center;
    color:#131313;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 150px;
}
.banner_img img{
    width: 100%;
    margin: 35px auto;
}

/* main style */
main, footer{
    max-width: 992px;
    margin: 50px auto;
}

/* team section style */
.teams_container{
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 20px;
}

.img_collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-right: 30px;
}

.teams_description h2{
    color:#727272;
    font-size: 2.3rem;
    font-weight: 500;
}

.span1{
    color:#131313;
    font-size: 2.3rem;
    font-weight: 700;
}
.span2{
    color: #FF900E;
    font-size: 2.5rem;
    font-weight: 700;
}

/* feature section style */
.feature_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rebeccapurple;
}
.feature_description{
    margin-right: 10%;
}
.feature_description .section_title{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.feature p{
    text-align: left;
}
.sub_feature{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 25px;
    margin-top: 20px;
}
.feature_img img{
    width: 508px;
    height: 992px;
    margin-left: 50px;
}
.experience{
    width: 165px;
    height: 80px;
    border-radius: 5px;
    color: #FFF;
    background: #FF900E;
    padding: 30px 20px;
    position: relative;
    bottom: 100px;
}
.experience h1{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.experience p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

/* Some Facts Section style */
.facts{
    margin-top: 150px;
}
.facts > p {
    text-align: left;
    margin-right: 40%;
}
.facts_container{
    display: flex;
    justify-content: space-evenly;
}

.overview{
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FF900E;
    padding: 20px 10px;
    margin: 45px 0;
}

/* sponsors section style */
.sponsors_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sponsors_container img{
    width: 13%;
    margin: 30px 0 60px 0;
}
.sponsors h2, p {
    text-align: center;
} 

/* footer section style */
footer p{
    border-radius: 5px;
    background: #FFF4E7;
    text-align: center;
    padding: 25px 45px;
}